<div class="row navbar-fixed-top notification-container">
    {{#if notification !== null }}
    <div class="alert alert-{{notification.severity}} text-center" role="alert">
        <span class="glyphicon {{notification.icon}}"></span> {{notification.text}}
    </div>
    {{/if}}
</div>

{{#each blades}}

<div class="row blade-container">
  <div class="col-md-1">
      <h1><span class="label label-default text-center">{{id}}</span></h1>
  </div>
  <div class="col-md-1">

  </div>
  <div class="col-md-2 text-center">
      <div id="gauge-power-{{id}}" class="blade-gauge"></div>
  </div>
  <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading text-center">State</div>
          <div class="panel-body text-center">
              <button class="btn btn-sm btn-success btn-on-off" on-click="blade-on:{{id}}">On</button>
              <button class="btn btn-sm btn-danger btn-on-off" on-click="blade-off:{{id}}">Off</button>
              <button class="btn btn-sm btn-primary btn-reset" on-click="blade-reset:{{id}}">Reset</button>
              <button class="btn btn-sm btn-warning btn-force-off" on-click="blade-force-off:{{id}}">Force Off</button>
          </div>
      </div>
  </div>
  <div class="col-md-2">
      <div class="panel panel-default">
          <div class="panel-heading text-center">Serial console</div>
          <div class="panel-body text-center">
              <button class="btn btn-sm btn-info btn-serial-console" on-click="serial-port-console:{{id}}">Open</button>
          </div>
      </div>
  </div>
  <div class="col-md-2">
      <div class="panel panel-default">
          <div class="panel-heading text-center">Pump</div>
          <div class="panel-body text-center">
              <button class="btn btn-sm btn-success btn-on-off" on-click="pump-on:{{id}}">On</button>
              <button class="btn btn-sm btn-danger btn-on-off" on-click="pump-off:{{id}}">Off</button>
          </div>
      </div>
  </div>
</div>

<script>
  var init{{id}} = 125
  var delta{{id}} = [-10, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 10];

  var g{{id}} = new JustGage({
    id: "gauge-power-{{id}}",
    value: init{{id}},
    min: 0,
    max: 200,
    title: "Power (W)",
    levelColors: ['#aaa']
  });

  setInterval(function () {
      var rand = Math.floor(Math.random() * delta{{id}}.length);
      console.log(rand);
      g{{id}}.refresh(init{{id}} + delta{{id}}[rand]);
  }, 1000);

</script>

{{/each}}
