<div class="row" style="margin-bottom: 25px">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <button class="btn btn-sm btn-default" on-click="serial-port-open-terminal:{{id}}">Serial blade 1</button>
        <button class="btn btn-sm btn-info" on-click="serial-port-open-terminal:{{id}}">Serial blade 2</button>
        <button class="btn btn-sm btn-default" on-click="serial-port-open-terminal:{{id}}">Serial blade 3</button>
        <button class="btn btn-sm btn-default" on-click="serial-port-open-terminal:{{id}}">Serial blede 4</button>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <div class="row text-center" style="margin-bottom: 30px">
            <div id="gauge-power-current-blade" class="blade-gauge"></div>
        </div>
        <script>
            new JustGage({
              id: "gauge-power-current-blade",
              value: 134,
              min: 0,
              max: 200,
              title: "Power (W)",
              levelColors: ['#aaa']
            });
        </script>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">State</div>
                    <div class="panel-body text-center">
                        <div class="row" style="margin-bottom: 10px;">
                            <button class="btn btn-sm btn-success" on-click="all-blades-on-off-short">On / Off Short</button>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <button class="btn btn-sm btn-danger" on-click="all-blades-on-off-long">On / Off Long</button>
                        </div>
                        <div class="row">
                            <button class="btn btn-sm btn-primary" on-click="all-blades-reset">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <iframe id="serial-terminal-iframe"
                width="710px"
                height="540px"
                marginheight="0"
                frameborder="0"
                marginwidth="0"
                src="http://localhost:8000/serial"></iframe>
    </div>
</div>
