<div class="row" style="margin-bottom: 25px">
    <div class="col-md-2">
        <div class="row text-center" style="margin-bottom: 30px">
            <button class="btn btn-sm btn-warning" on-click="goto-blade-list">&lt;&lt; Back</button>
        </div>
    </div>
    <div class="col-md-8">
        {{#each blades:i}}
        <button
            class="btn btn-sm {{# currentBladeId === i+1 }}btn-info{{/}} {{# currentBladeId !== i+1 }}btn-default{{/}}"
            on-click="serial-port-open-terminal:{{i+1}}"
            style="margin-right: 10px">Serial blade {{i+1}}</button>
        {{/each}}
    </div>
</div>


<div class="row">
    <div class="col-md-2">

        <div class="row text-center" style="margin-bottom: 30px">
            <div id="gauge-power-current-blade" class="blade-gauge"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">State</div>
                    <div class="panel-body text-center">
                        <div class="row" style="margin-bottom: 10px;">
                            <button class="btn btn-sm btn-success" on-click="blade-on-off-short:{{currentBladeId}}">On / Off Short</button>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <button class="btn btn-sm btn-danger" on-click="blade-on-off-long:{{currentBladeId}}">On / Off Long</button>
                        </div>
                        <div class="row">
                            <button class="btn btn-sm btn-primary" on-click="blade-reset:{{currentBladeId}}">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <iframe id="serial-terminal-iframe"
                width="710px"
                height="540px"
                marginheight="0"
                frameborder="0"
                marginwidth="0"
                src="http://localhost:8000/serial"></iframe>
    </div>
</div>
