body {
    padding-top: 90px;
}

.panel-heading {
    padding: 3px 0px;
}

.btn-sm {
    width: 100px;
}

.notification-container {
    font-size: 16px
}

.blade-list-container {
    border-right: solid 2px #ddd;
    padding-right: 50px;
}

.blade-container {
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: solid 2px #ddd;
}

.blade-gauge {
    width:200px;
    height:96px;
}
